<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7a67ec">  <td>18/02/12 14:53:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.TestCaseLogin()[pri:0, instance:com.paragon.netapp.tests.loginTest@77846d2c]">TestCaseLogin</td> 
  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="7a67ec">  <td>18/02/12 14:53:42</td>   <td>32163</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;loginTest.closeBrowser()[pri:0, instance:com.paragon.netapp.tests.loginTest@77846d2c]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="7a67ec">  <td>18/02/12 14:52:30</td>   <td>-39581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;loginTest.launchApp()[pri:0, instance:com.paragon.netapp.tests.loginTest@77846d2c]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="7a67ec">  <td>18/02/12 14:52:22</td>   <td>-47626</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;loginTest.launchBrowser()[pri:0, instance:com.paragon.netapp.tests.loginTest@77846d2c]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1909546776</td>   <td></td> </tr>
</table>
