<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ba0af">  <td>18/02/09 13:51:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.TestCaseLogin()[pri:0, instance:com.paragon.netapp.tests.loginTest@78186a70]">TestCaseLogin</td> 
  <td>main@1615039080</td>   <td></td> </tr>
<tr bgcolor="6ba0af">  <td>18/02/09 13:51:50</td>   <td>6815</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;loginTest.closeBrowser()[pri:0, instance:com.paragon.netapp.tests.loginTest@78186a70]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615039080</td>   <td></td> </tr>
<tr bgcolor="6ba0af">  <td>18/02/09 13:50:56</td>   <td>-47594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;loginTest.launchApp()[pri:0, instance:com.paragon.netapp.tests.loginTest@78186a70]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>main@1615039080</td>   <td></td> </tr>
<tr bgcolor="6ba0af">  <td>18/02/09 13:50:48</td>   <td>-55265</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;loginTest.launchBrowser()[pri:0, instance:com.paragon.netapp.tests.loginTest@78186a70]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615039080</td>   <td></td> </tr>
</table>
